<!DOCTYPE html>
<html>
<head>
	<title>Tourist</title>
	{% load staticfiles %}
	<link rel="stylesheet" type="text/css" href="{% static 'tourist/style.css' %}" />
	<link rel="stylesheet" type="text/css" href="{% static 'tourist/main.css' %}" />
<!-- 	<link rel="stylesheet" type="text/css" href="../static/tourist/main.css">
	<link rel="stylesheet" type="text/css" href="../static/tourist/style.css"> -->
</head>
<body>
   <div class="header-top">
	<div class="wrap">
			<h1 class="logo">
				<a href="{% url 'tourist:home' %}"><img src="{% static 'tourist/images/logo.png' %}" alt="My image"/></a>
			</h1>
	    <ul class="follow_icon">
	    
			<li><a href="#"><img src="{% static 'tourist/images/follow_icon.png' %}" alt="My image"/></a></li>
			<li><a href="#"><img src="{% static 'tourist/images/follow_icon1.png' %}" alt="My image"/></a></li>
			<li><a href="#"><img src="{% static 'tourist/images/follow_icon2.png' %}" alt="My image"/></a></li>
			<li><a href="#"><img src="{% static 'tourist/images/follow_icon3.png' %}" alt="My image"/></a></li>
			<li><a href="#"><img src="{% static 'tourist/images/follow_icon4.png' %}" alt="My image"/></a></li>
			<li><a href="#"><img src="{% static 'tourist/images/follow_icon5.png' %}" alt="My image"/></a></li>
		</ul>
		 <div class="clear"></div>
	</div>
   </div>
   <div class="header-bottom"> 
		<div class="wrap"> 
			  <div class="subMenu smint">
 	           	 <div class="inner">
					<ul>
						<li class="active"> <a href="{% url 'tourist:home' %}" id="sTop" class="subNavBtn">Home</a> </li>
  						<li><a href="{% url 'tourist:about' %}" id="s1" class="subNavBtn">About</a> </li>
						<li><a href="{% url 'tourist:hotelD' %}" id="s2" class="subNavBtn">Hotel</a> </li>
						<li><a href="{% url 'tourist:foodD' %}" id="s3" class="subNavBtn">Food</a> </li>
						<li><a href="{% url 'tourist:contact' %}" id="s3" class="subNavBtn">Contact</a> </li>
					    <div class="clear"></div>
					 </ul>
				  </div>
				</div>
			    <div class="clear"></div>
			</div>
	  </div>   
	  <div class="banner">
			<div class="wrap">
				 <img src="{% static 'tourist/images/banner.jpg' %}" alt=""/>
			</div>
	   </div>
	<div class="main">
	   <div class="wrap">
		<div class="content-top">
			{% if latest_tourist_list %}
			   	{% for tourist in latest_tourist_list %}
				<div class="col_1_of_3 span_1_of_3">
					<div class="block_1">
	                    <img class="img-top" src="{{tourist.image.url}}" alt=""/>
	                    <div class="tour">
	                        <p class="txt_1">{{tourist.name }}</p>
	                        <p class="txt_2">{{tourist.address}}</p>
	                        <p class="txt_3">${{tourist.price}}</p>
	                        <a href="{% url 'tourist:detail' %}" class="watch_but">More Info</a>
	                    </div>
	                 </div>
				 </div>
				 {% endfor %}
				 {% else %}
			    <p>No are available</p>
			{% endif %}
				<div class="clear"></div>
			</div>
			<div class="content-bot">
				<div class="col_1_of_4 span_1_of_4">
					<div class="address">
		                <span> Passerellnumeriques VietNam, <br>80B, Le Duan, TP.DaNang <br> K10/7, Pastuer, Hai Chau Da Nang<br> Phone: 01664557762</span>
		                <strong>E -mail:</strong>
		                <a href="#">hunglv.qng@gmail.com</a>
		                <em>1 800 110 1000</em>
                    </div>
				</div>
				<div class="col_1_of_4 span_1_of_4">
					<div class="block-1">
                       <span>Last minute <span>vacation:</span></span>
                       <em>Europe tour
                       <em>from $1000</em></em>
                       <strong>Lorem ipsum, dolor sit ametytr,
                        ...</strong>
                       <strong>7 - 8 nights </strong>
                       <a href="#"></a>
                     </div>
				</div>
				<div class="col_1_of_4 span_1_of_4">
					<h4>Family Travel</h4>
					<span class="thick">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod</span>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
					<a href="#" class="link top-1">read more<span></span></a>
				</div>
				<div class="col_1_of_4 span_1_of_4">
					<h4>Family Travel</h4>
					<span class="thick">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod</span>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
					<a href="#" class="link top-1">read more<span></span></a>
				</div>
				<div class="clear"></div>
		   </div>
	   </div>
   </div>
   <div class="content-bot1">
 	    <div class="wrap">
				<div class="col_1_of_4 span_1_of_4">
					<h3>Destinations:</h3>
					<div class="world">
                       <span></span>
                     </div>
				</div>
				<div class="col_1_of_4 span_1_of_4">
					<img src="{% static 'tourist/images/thuanphuoc.jpg' %}" alt=""/>
					<figcaption>
						<div class="col-1">
                              <a href="#">Thuan Phuoc Bridge</a>
                              <div class="para">vallis euismod Vestibulum ante ipsum fau cibus.</div>
                         </div>
                         <div class="price-1"><strong>$599</strong></div>
                    </figcaption>
				</div>
				<div class="col_1_of_4 span_1_of_4">
					<img src="{% static 'tourist/images/songhan.jpg' %}" alt=""/>
					<figcaption>
						<div class="col-1">
                              <a href="#">Han River Bridge</a>
                              <div class="para">vallis euismod Vestibulum ante ipsum fau cibus.</div>
                        </div>
                        <div class="price-1"><strong>$599</strong></div>
                    </figcaption>
				</div>
				<div class="col_1_of_4 span_1_of_4">
					<img src="{% static 'tourist/images/caurong.jpg' %}" alt=""/>
					<figcaption>
							<div class="col-1">
                                 <a href="#">Dragon bridge</a>
                                 <div class="para">vallis euismod Vestibulum ante ipsum fau cibus.</div>
                            </div>
                           <div class="price-1"><strong>$599</strong></div>
                    </figcaption>
				</div>
				<div class="clear"></div>
		   </div>
	</div>
<div class="footer">
 	<div class="wrap">
 		<div class="copy">
			<p> © 2015 All rights Reserved | Design by Hung Save</p>
		</div>
 	</div>
 </div>
</body>
</html>
