<!DOCTYPE html>
<html>
<head>
	<title></title>



	{% load staticfiles %}
	<link rel="stylesheet" type="text/css" href="{% static 'tourist/admin.css' %}" />
<!-- 	{% load staticfiles %} -->
	<link rel="stylesheet" type="text/css" href="{% static 'bootstrap/css/bootstrap.min.css' %}" />
	<script type="text/javascript" src="{% static 'tourist/js/table.js' %}"></script>
</head>
<body>
	<div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <div class="logo">
                	<a href="{% url 'tourist:home' %}"><img src="{% static 'tourist/images/logo.png' %}" alt="My image"/></a>
                </div>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="{% url 'tourist:mefood' %}">FOOD</a></li>
                     <li><a href="{% url 'tourist:mehotel' %}">HOTEL</a></li>
                </ul>
            </div>
           
        </div>
    </div>
		<div id="wrapper-food">
  			<h1>Manage Food in Da Nang City</h1>
  
			  <table id="keywords" cellspacing="0" cellpadding="0">
			    <thead>
			      <tr>
			        	<th>ID</th>
				<th>Name</th>
				<th>Adress</th>
				<th>Price</th>
				<th>Quantity</th>
				<th>Images</th>
			      </tr>
			    </thead>
			    <tbody>
			     	{% if latest_food_list %}
					    {% for food in latest_food_list %}
					    		<tr>
					    			<td>{{food.id }}</td>
					    			<td>{{food.name }}</td>
					    			<td>{{food.address}}</td>
					    			<td>{{food.price }}</td>
					    			<td>{{food.quantity}}</td>
					    			<td>
					    				<div class="content-img">
			    							<img src="{{food.image.url}} " alt="My images" />
			    						</div>
					    			</td>
					    		</tr>
					    {% endfor %}
					{% else %}
					    <p>No are available</p>
					{% endif %}
			    </tbody>
			    <tfoot>
				<td><a href="{% url 'tourist:index' %}"> Back</a></td>
			</tfoot>
			  </table>
			  <button><a href="{% url 'tourist:tourist_new' %}">New</a></button>
		</div>
	</body>
</html>



