<!DOCTYPE html>
<html>
<head>
	<title></title>
	{% load staticfiles %}
	<link rel="stylesheet" type="text/css" href="{% static 'tourist/admin.css' %}" />
	<link rel="stylesheet" type="text/css" href="{% static 'bootstrap/css/bootstrap.min.css' %}" />
</head>
<body>
		<div class="container">
			<table class="table table-condensed content-tb">
			<thead>
				<th>ID</th>
				<th>Name</th>
				<th>Adress</th>
				<th>Price</th>
				<th>Quantity</th>
				<th>Images</th>
			</thead>
			<tbody>
				<table class="table table-condensed">
					{% if latest_food_list %}
					    {% for food in latest_food_list %}
					    		<tr>
					    			<td>{{food.id }}</td>
					    			<td>{{food.name }}</td>
					    			<td>{{food.address}}</td>
					    			<td>{{food.price }}</td>
					    			<td>{{food.quantity}}</td>
					    			<td>
					    				<div class="content-img">
			    							<img src="{{food.image.url}} " alt="My images" />
			    						</div>
					    			</td>
					    		</tr>
					    {% endfor %}
					{% else %}
					    <p>No are available</p>
					{% endif %}
			</tbody>
			<tfoot>
				<td><a href="{% url 'tourist:index' %}"> Back</a></td>
			</tfoot>
		</table>
		</div>
	</body>
</html>



