<!DOCTYPE html>
<html>
<head>
	<title>food</title>
	{% load staticfiles %}
	<link rel="stylesheet" type="text/css" href="{% static 'tourist/admin.css' %}" />
<!-- 	{% load staticfiles %} -->
	<link rel="stylesheet" type="text/css" href="{% static 'bootstrap/css/bootstrap.min.css' %}" />
</head>
<body>
		<div class="container">
			<table class="table table-condensed content-tb">
			<thead>
				<th>ID</th>
				<th>Name</th>
				<th>Adress</th>
				<th>Price</th>
				<th>KindofRoom</th>
				<th>Vote</th>
				<th>Images</th>
			</thead>
			<tbody>
				<table class="table table-condensed">
					{% if latest_hotel_list %}
					    {% for hotel in latest_hotel_list %}
					    		<tr>
					    			<td>{{hotel.id }}</a></td>
					    			<td>{{hotel.name }}</a></td>
					    			<td>{{hotel.address}}</td>
					    			<td>{{hotel.price }}</a></td>
					    			<td>{{hotel.kindofroom}}</td>
					    			<td>{{hotel.votes}}</td>
					    			<td>
						    			<div class="content-img">
			    							<img src="{{hotel.image.url}} alt="My images""/>
			    						</div>
		    						</td>
					    		</tr>
					    {% endfor %}
					{% else %}
					    <p>No are available</p>
					{% endif %}
			</tbody>
			<tfoot>
				<td><a href="{% url 'tourist:index' %}"> Back</a></td>
			</tfoot>
		</table>
		</div>
	</body>
</html>